.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

.button {
    border: 2px solid var(--background-footer-strong);
    color: var(--font-secondary);
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-weight: 400;
}