.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    color: var(--font-secondary);
}

.link {
    font-size: 0.8rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.gridContainer {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {  
    .gridContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .gridContainer {
        grid-template-columns: repeat(6, 1fr);
    }
}