@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
    --background-footer: #f7f3df;
    --background-footer-strong: #e9dfd1;
    --menu-highlighted: #2e2e2e;
    --background-modal: #e9dbc6;
    --menu-light: #f3edcb;
    --hover-color: black;

    --font-highlighted: #f1cb00;
    --font-footer: #b1b393;
    --font-secondary: #8f916d;
    --font-detailed-page: black;
    --font-input: #b1b393;

    --icon-color: black;

    --side-margin-default: 12.5rem;
    --vertical-margin-default: 6.25rem
;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --background-footer: #090a0a; 
    --background-footer-strong: #090a0a;
    --background-modal: #1b1c1c;
    --menu-highlighted: #2e2e2e;
    --hover-color: lightgray;

    --font-highlighted: #f1cb00;
    --font-footer: #b1b393; 
    --font-secondary: #8f916d;
    --font-detailed-page: white;
    --font-input: #8f916d;

    --icon-color: #f1cb00;
}

body {
    display: flex;
    flex-direction: column; 
    font-family: "Montserrat", "Montserrat Fallback";
    min-height: 100vh;
    height: 100%;
    margin: 0;
}