.headerRow {
    display: flex;
    gap: 1rem;
    margin: var(--vertical-margin-default) var(--side-margin-default) 20px var(--side-margin-default);
    padding: 2rem 0;
}

.headerContainer {
    background-color: var(--background-footer);
}

.headerCol {
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    gap: 1rem;
}

.title {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--font-secondary);
}

.description {
    color: var(--font-secondary);
    font-weight: 200;
}

.image {
    object-fit: contain;
}

.bodySection {
    margin: 20px var(--side-margin-default);
    display: flex;
    justify-content: left;
    gap: 2rem;
    flex-wrap: wrap;
}

.listSection {
    margin: 0 var(--side-margin-default);
    display: flex;
    justify-content: left;
    gap: 2rem;
    flex-wrap: wrap;
}

.relations, .characters, .trailerSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.relationList {
    max-width: 70rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.title {
    color: var(--font-secondary);
    font-size: 1rem;
    font-weight: bold;
}

.detailedSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-footer);
    padding: 1rem;
    font-size: 0.9rem;
    max-width: 13.25rem;
}

.detailTitle {
    color: var(--font-secondary);
    font-weight: bolder;
}

.rightDetailSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.detailText {
    color: var(--font-detailed-page);
}

.rateRow {
    display: flex;
    width: 100%;
    gap: 1rem;
    color: var(--font-secondary);
    font-weight: bold;
}

@media (max-width: 1024px) {
    .headerRow {
        margin: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .listSection, .bodySection {
        margin: 50px 20px;
        justify-content: center;
    }
}
